<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Boolzapp</title>
    <link rel="stylesheet" href="./css/style.css">
    <script src="https://kit.fontawesome.com/ab74f48bc3.js" crossorigin="anonymous"></script>    
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lato:wght@400;900&display=swap" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>

    <body>

<div id="root">
    <div class="container">
        <!-- parte sinistra chat -->
       <aside>
         <section class="header">
        <div class="header_left">
           <img :src="`./img/avatar${user.avatar}.jpg`" alt="immagine profilo">
           <p class="pd_left font_weight">{{user.name}}</p>
        </div>
        <div class="header_right">
            <i class="fas fa-circle-notch mg-right"></i>
            <i class="fas fa-comment-alt mg-right pd_left"></i>
            <i class="fas fa-ellipsis-v mg-right pd_left"></i>      
        </div>    
        </section>

        <section class="notifiche pd">
              <div class="campanella">
                <i class="fas fa-bell-slash"></i>
              </div>
              <div class="pd_left">
                <h4>Ricevi notifiche di nuovi messaggi</h4>
                <a href="">Attiva notifiche desktop</a>
            </div>
        </section>

        <section class="input pd">
            <button> 
                <i class="fas fa-search pd_05"></i>
            </button>
            <input type="text" class="text pd_05" placeholder="Cerca o inizia una nuova chat">
        </section>

        <section class="chat"> 
            <div 
            class="chat_personale" 
            v-for="(contact, index) in contacts"
            @click="setChat(index)"
            >
                <img :src="`./img/avatar${contact.avatar}.jpg`" alt="">
                <span class="pd_left">{{ contact.name }}</span>
                </div>
            </aside>
            <!-- inizio parte destra chat  -->
            <main>
                <section class="header header_main">
                    <div class="header_left">
                       <img src="./img/avatar_1.jpg" alt="immagine profilo">
                    <div class="personal_chat">
                       <p class="pd_left font_weight">Michele</p>
                       <p class="pd_left">Ultimo accesso oggi alle 10.35</p>
                    </div>   
                    </div>
                    <div class="header_right">
                        <i class="fas fa-search"></i>
                        <i class="fas fa-paperclip pd_left"></i>
                        <i class="fas fa-ellipsis-v pd_left"></i>     
                    </div>    
                    </section>

                    <div class="messaggi pd">
                           <!-- {{contacts[activeChat]}} -->
                        <div class="pd_05"
                         v-for="message in contacts[activeChat].messages"
                        >
                       <div class="recived">
                         <p v-if="message.status === 'received'" class="messaggio_ricevuto">{{message.text}} <br> <span class="orario">{{message.date}}</span> </p>
                       </div>
                       <div class="sent">
                        <p v-if="message.status === 'sent'" class="messaggio_inviato">{{message.text}} <br> <span class="orario">{{message.date}}</span></p>
                      </div>   
                    </div>

                    </div>

                    <footer class="pd">
                        <i class="far fa-smile"></i>
                        <input type="text" class="text pd_05" placeholder="Scrivi un messaggio">
                        <p></p>
                        <i class="fas fa-microphone"></i>
                    </footer>
            </main>
            <!-- fine parte destra chat -->
            </div>

    </div> 
   
    <!-- js -->
    <script src="./main/main.js"></script>
</body>
</html>